<nav id="navBar" class="nav-bar">
    <a class="nav-link home" href="../pages/index.html">
      <p class="num active">01</p>
      <p>Home</p>
    </a>
    <a class="nav-link" href="../pages/about.html#top">
      <p class="num">02</p>
      <p>About</p>
    </a>
    <a class="nav-link" href="../pages/workshops.html">
      <p class="num">03</p>
      <p>Workshops</p>
    </a>
    <a class="nav-link" href="../pages/contact.html">
      <p class="num">04</p>
      <p>Contact</p>
    </a>
</nav>
